version: '2'
services:

  # The Application
  php:
    build:
      context: ./
      dockerfile: php.dockerfile
    working_dir: /var/www
    volumes:
    - ../:/var/www
    - ./ssl:/etc/nginx/ssl
    environment:
    - DB_PORT=3306
    - DB_HOST=database
    user: ${DOCKER_USER_UID}:${DOCKER_USER_GID}

  # The Web Server
  web:
    build:
      context: ./
      dockerfile: web.dockerfile
    working_dir: /var/www
    volumes_from:
    - php
    ports:
    - ${NGINX_HOST_HTTP_PORT}:80
    - ${NGINX_HOST_HTTPS_PORT}:443

  # MySQL
  database:
    image: mysql:5.7
    volumes:
    - dbdata:/var/lib/mysql
    environment:
    - MYSQL_DATABASE=${MYSQL_DATABASE}
    - MYSQL_USER=${MYSQL_USER}
    - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    ports:
    - ${MYSQL_PORT}:3306

volumes:
  dbdata:
