[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
C = <Country>
ST = <Province>
L = <City>
O = <Organisation>
OU = <Organizational Unit>
CN = app

[v3_req]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
basicConstraints = CA:TRUE
subjectAltName = @alt_names

[alt_names]
DNS.1 = app
DNS.2 = localhost
#DNS.3 = <3rd Domain>
#DNS.4 = <4th Domain>
## on so on, and so forth.
